<nav class="navbar-light bg-white header fixed-top">
  <div class="container">
    <div class="d-flex justify-content-between header-links pt-3">
      <div class="d-flex">
        <div>
          <h4 class="brand-logo" routerLink="/main">GYMSSENTIALS</h4>
        </div>
        <div class="navbar-links">
          <ul class="mr-auto d-flex">
            <li class="nav-item">
              <a class="" routerLink="/shop">SHOP</a>
            </li>
            <li class="nav-item">
              <a class="" href="#">ABOUT US</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="d-flex action-icons">
        <i class="fas fa-user header-icons"></i>
        <i class="fas fa-shopping-cart header-icons"></i>
      </div>
    </div>
  </div>
</nav>
<section class="product_details container my-5">
  <div class="row d-md-flex justify-content-between">
    <div
      class="col-12 col-md-7 col-lg-6 carousel-slider d-flex justify-content-center"
    >
      <div>
        <img src="../../assets/product/Mask Group 1.png" width="100%" />
      </div>
    </div>
    <div class="col-12 col-md-5 col-lg-5 product-info mt-3 mt-md-5">
      <h4>PROTIEN BAR</h4>
      <p>"New Recipe, More Enjoyment"</p>
      <div class="d-flex  flex-wrap">
        <span class="badge badge-secondary p-2 mr-2 mb-1"
          ><i class="fas fa-tag mr-2"></i>Protien Bar</span
        >
        <span class="badge badge-secondary p-2 mr-2 mb-1"
          ><i class="fas fa-tag mr-2"></i>Soy Free</span
        >
      </div>
      <div class="mt-3 row select">
        <h6 class="col-5">FLAVOR</h6>
        <select class="custom-select col-6" id="inputGroupSelect02">
          <option selected>Choose...</option>
          <option value="1">One</option>
          <option value="2">Two</option>
          <option value="3">Three</option>
        </select>
      </div>
      <div class="mt-3 row select">
        <h6 class="col-5">QUANTITY</h6>
        <select class="custom-select col-3" id="inputGroupSelect02">
          <option selected>1</option>
          <option value="2">2</option>
          <option value="3">3</option>
        </select>
      </div>
      <div class="mt-4">
        <h4>SGD $10.00</h4>
      </div>
      <div class="mt-4">
        <button type="button" class="btn font-weight-bold btn-lg btn-block">
          ADD TO CART
        </button>
      </div>
    </div>
  </div>
  <div class="product-description">
    <div class="mt-5">
      <h5>PRODUCT DESCRIPTION</h5>
      <p>POST WORKOUT</p>
      <p>
        When you exercise hard you demand a lot from your body. So it’s only
        fair to give it the absolute best in return. This whey protein contains
        the perfect formula for your muscles. Perfectly creamy when mixed with
        water, milk, or your favorite milk alternative. Honestly? It’s just damn
        good.
      </p>
      <ul>
        <li>
          <i class="far fa-circle mr-2"></i> Ideal for strength and endurance
          athletes
        </li>
        <li>
          <i class="far fa-circle mr-2"></i> The perfect protein source for your
          day and post-workout
        </li>
        <li><i class="far fa-circle mr-2"></i> Support muscle development</li>
      </ul>
    </div>

    <div class="mt-5">
      <h5>INGREDIENTS</h5>
      <div class="row mb-3">
        <li class="col-12 col-md-6">
          <i class="far fa-circle mr-2"></i>
          Whey protein concentrate (67%)
        </li>
        <li class="col-12 col-md-6">
          <i class="far fa-circle mr-2"></i> Whey protein isolate (30%)
        </li>
        <li class="col-12 col-md-6">
          <i class="far fa-circle mr-2"></i> Flavouring, acidulant (citric acid)
        </li>
        <li class="col-12 col-md-6">
          <i class="far fa-circle mr-2"></i>
          Beetroot powder, emulsifier (sunflower lecithin)
        </li>
        <li class="col-12 col-md-6">
          <i class="far fa-circle mr-2"></i>
          Sweetener (sucralose, steviol glycoside)
        </li>
      </div>
      <div class="d-flex">
        <p class="mr-2">**Note:</p>
        <p>
          It is important to maintain a varied and balanced diet and a healthy
          lifestyle. May contain traces of gluten, chicken protein and soy.
        </p>
      </div>
    </div>

    <div class="mt-5">
      <h5>DOSING AND PREPARATION</h5>

      <p>
        <i class="far fa-circle mr-2"></i>
        Mix 30g of Whey Protein with 300 ml of water or low-fat milk
      </p>
      <p>
        <i class="far fa-circle mr-2"></i>
        First, pour the liquid into the shaker, then add the powder and shake
        well for 20-30 seconds
      </p>
      <p>
        <i class="far fa-circle mr-2"></i>
        For optimal results, take 1 - 3 servings daily immediately after
        exercise or in the morning
      </p>
    </div>
  </div>
  <div class="new-arrival my-5">
    <div class="d-flex justify-content-between">
      <H5 class="sub-header">RELATED PRODUCTS</H5>
    </div>

    <div class="d-flex carousel">
      <div class="item-card">
        <div class="item-img">
          <img src="../../assets/home/Image 6.png" />
        </div>
        <div class="item-info pt-3">
          <h4>PROTIEN BAR</h4>
          <small>"New Recipe, More Enjoyment</small>
          <h5>SGD $10.00</h5>
        </div>
      </div>

      <div class="item-card">
        <div class="item-img">
          <img src="../../assets/home/Image 6.png" />
        </div>
        <div class="item-info pt-3">
          <h4>PROTIEN BAR</h4>
          <small>"New Recipe, More Enjoyment</small>
          <h5>SGD $10.00</h5>
        </div>
      </div>

      <div class="item-card">
        <div class="item-img">
          <img src="../../assets/home/Image 6.png" />
        </div>
        <div class="item-info pt-3">
          <h4>PROTIEN BAR</h4>
          <small>"New Recipe, More Enjoyment</small>
          <h5>SGD $10.00</h5>
        </div>
      </div>

      <div class="item-card">
        <div class="item-img">
          <img src="../../assets/home/Image 6.png" />
        </div>
        <div class="item-info pt-3">
          <h4>PROTIEN BAR</h4>
          <small>"New Recipe, More Enjoyment</small>
          <h5>SGD $10.00</h5>
        </div>
      </div>

      <div class="item-card">
        <div class="item-img">
          <img src="../../assets/home/Image 6.png" />
        </div>
        <div class="item-info pt-3">
          <h4>PROTIEN BAR</h4>
          <small>"New Recipe, More Enjoyment</small>
          <h5>SGD $10.00</h5>
        </div>
      </div>

      <div class="item-card">
        <div class="item-img">
          <img src="../../assets/home/Image 6.png" />
        </div>
        <div class="item-info pt-3">
          <h4>PROTIEN BAR</h4>
          <small>"New Recipe, More Enjoyment</small>
          <h5>SGD $10.00</h5>
        </div>
      </div>

      <div class="item-card">
        <div class="item-img">
          <img src="../../assets/home/Image 6.png" />
        </div>
        <div class="item-info pt-3">
          <h4>PROTIEN BAR</h4>
          <small>"New Recipe, More Enjoyment</small>
          <h5>SGD $10.00</h5>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="footer mt-5">
  <div class="container">
    <div class="row py-5">
      <div class="row col-12 col-md-6">
        <div class="download col-12 col-lg-7 mb-4">
          <p class="footer-text">Now available on</p>
          <div class="d-flex download-icon">
            <img src="../../assets/home/App Store.png" />
            <img src="../../assets/home/Google play.png" />
          </div>
        </div>
        <div class="col-12 col-lg-5 mb-4">
          <p class="footer-text">Follow us on</p>
          <div class="d-flex social-media-icon">
            <img src="../../assets/home/facebook.png" />
            <img src="../../assets/home/twitter.png" />
            <img src="../../assets/home/Instagram.png" />
          </div>
        </div>
      </div>
      <div class="col-4 col-md-2 mb-4">
        <p class="footer-text">Links</p>
        <div class="footer-links">
          <ul>
            <li>About Us</li>
            <li>Home</li>
            <li>Recipe</li>
            <li>Shop</li>
            <li>FAQ</li>
          </ul>
        </div>
      </div>
      <div class="col-8 col-md-3 mb-4">
        <p class="footer-text">Contact Us</p>
        <div class="footer-links">
          <ul>
            <li>Singapore Polytechnic 500 Dover Rd Singapore 139651</li>
            <li><i class="fas fa-phone pr-2"></i>+65 6565 6969</li>
            <li><i class="fas fa-envelope pr-2"></i>gymssential@support.com</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
