<nav class="navbar-light bg-white header fixed-top">
  <div class="container">
    <div class="d-flex justify-content-between header-links pt-3">
      <div class="d-flex">
        <div>
          <h4 class="brand-logo" href="#">GYMSSENTIALS</h4>
        </div>
        <div class="navbar-links">
          <ul class="mr-auto d-flex">
            <li class="nav-item">
              <a class="" routerLink="/shop">SHOP</a>
            </li>
            <li class="nav-item">
              <a class="" href="#">ABOUT US</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="d-flex action-icons">
        <i class="fas fa-user header-icons"></i>
        <i class="fas fa-shopping-cart header-icons"></i>
      </div>
    </div>
  </div>
</nav>

<section class="content home-page">
  <div class="container">
    <div class="banner mt-4 row">
      <div class="col-12 col-md-4">
        <div class="banner-item">
          <span class="banner-text">EAT HEALTHY</span>
          <span class="banner-button">LEARN MORE</span>
        </div>
        <img src="assets/home/Image 4.png" />
      </div>
      <div class="col-12 col-md-4">
        <div class="banner-item">
          <span class="banner-text">GET IN SHAPE</span>
          <span class="banner-button">LEARN MORE</span>
        </div>
        <img src="assets/home/Image 2.png" />
      </div>
      <div class="col-12 col-md-4">
        <div class="banner-item">
          <span class="banner-text">GET STRONGER</span>
          <span class="banner-button">LEARN MORE</span>
        </div>
        <img src="assets/home/Image 5.png" />
      </div>
    </div>

    <div class="new-arrival mt-5 mb-5">
      <div class="d-flex justify-content-between">
        <H5 class="sub-header">NEW ARRIVAL</H5>
        <button class="btn button" routerLink="/shop">VIEW ALL</button>
      </div>

      <div class="d-flex carousel">
        <div class="item-card">
          <div class="item-img">
            <img src="assets/home/Image 6.png" />
          </div>
          <div class="item-info pt-3">
            <h4>PROTIEN BAR</h4>
            <small>"New Recipe, More Enjoyment</small>
            <h5>SGD $10.00</h5>
          </div>
        </div>

        <div class="item-card">
          <div class="item-img">
            <img src="assets/home/Image 6.png" />
          </div>
          <div class="item-info pt-3">
            <h4>PROTIEN BAR</h4>
            <small>"New Recipe, More Enjoyment</small>
            <h5>SGD $10.00</h5>
          </div>
        </div>

        <div class="item-card">
          <div class="item-img">
            <img src="assets/home/Image 6.png" />
          </div>
          <div class="item-info pt-3">
            <h4>PROTIEN BAR</h4>
            <small>"New Recipe, More Enjoyment</small>
            <h5>SGD $10.00</h5>
          </div>
        </div>

        <div class="item-card">
          <div class="item-img">
            <img src="assets/home/Image 6.png" />
          </div>
          <div class="item-info pt-3">
            <h4>PROTIEN BAR</h4>
            <small>"New Recipe, More Enjoyment</small>
            <h5>SGD $10.00</h5>
          </div>
        </div>

        <div class="item-card">
          <div class="item-img">
            <img src="assets/home/Image 6.png" />
          </div>
          <div class="item-info pt-3">
            <h4>PROTIEN BAR</h4>
            <small>"New Recipe, More Enjoyment</small>
            <h5>SGD $10.00</h5>
          </div>
        </div>

        <div class="item-card">
          <div class="item-img">
            <img src="assets/home/Image 6.png" />
          </div>
          <div class="item-info pt-3">
            <h4>PROTIEN BAR</h4>
            <small>"New Recipe, More Enjoyment</small>
            <h5>SGD $10.00</h5>
          </div>
        </div>

        <div class="item-card">
          <div class="item-img">
            <img src="assets/home/Image 6.png" />
          </div>
          <div class="item-info pt-3">
            <h4>PROTIEN BAR</h4>
            <small>"New Recipe, More Enjoyment</small>
            <h5>SGD $10.00</h5>
          </div>
        </div>
      </div>
    </div>

    <div class="new-arrival mt-5 mb-5">
      <div class="d-flex justify-content-between">
        <H5 class="sub-header">NEW ARRIVAL</H5>
        <button class="btn button" href="/shop">VIEW ALL</button>
      </div>

      <div class="d-flex carousel">
        <div class="item-card">
          <div class="item-img">
            <img src="assets/home/Image 6.png" />
          </div>
          <div class="item-info pt-3">
            <h4>PROTIEN BAR</h4>
            <small>"New Recipe, More Enjoyment</small>
            <h5>SGD $10.00</h5>
          </div>
        </div>

        <div class="item-card">
          <div class="item-img">
            <img src="assets/home/Image 6.png" />
          </div>
          <div class="item-info pt-3">
            <h4>PROTIEN BAR</h4>
            <small>"New Recipe, More Enjoyment</small>
            <h5>SGD $10.00</h5>
          </div>
        </div>

        <div class="item-card">
          <div class="item-img">
            <img src="assets/home/Image 6.png" />
          </div>
          <div class="item-info pt-3">
            <h4>PROTIEN BAR</h4>
            <small>"New Recipe, More Enjoyment</small>
            <h5>SGD $10.00</h5>
          </div>
        </div>

        <div class="item-card">
          <div class="item-img">
            <img src="assets/home/Image 6.png" />
          </div>
          <div class="item-info pt-3">
            <h4>PROTIEN BAR</h4>
            <small>"New Recipe, More Enjoyment</small>
            <h5>SGD $10.00</h5>
          </div>
        </div>

        <div class="item-card">
          <div class="item-img">
            <img src="assets/home/Image 6.png" />
          </div>
          <div class="item-info pt-3">
            <h4>PROTIEN BAR</h4>
            <small>"New Recipe, More Enjoyment</small>
            <h5>SGD $10.00</h5>
          </div>
        </div>

        <div class="item-card">
          <div class="item-img">
            <img src="assets/home/Image 6.png" />
          </div>
          <div class="item-info pt-3">
            <h4>PROTIEN BAR</h4>
            <small>"New Recipe, More Enjoyment</small>
            <h5>SGD $10.00</h5>
          </div>
        </div>

        <div class="item-card">
          <div class="item-img">
            <img src="assets/home/Image 6.png" />
          </div>
          <div class="item-info pt-3">
            <h4>PROTIEN BAR</h4>
            <small>"New Recipe, More Enjoyment</small>
            <h5>SGD $10.00</h5>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<div class="footer">
  <div class="container">
    <div class="row py-5">
      <div class="row col-12 col-md-6">
        <div class="download col-12 col-lg-7 mb-4">
          <p class="footer-text">Now available on</p>
          <div class="d-flex download-icon">
            <img src="assets/home/App Store.png" />
            <img src="assets/home/Google play.png" />
          </div>
        </div>
        <div class="col-12 col-lg-5 mb-4">
          <p class="footer-text">Follow us on</p>
          <div class="d-flex social-media-icon">
            <img src="assets/home/facebook.png" />
            <img src="assets/home/twitter.png" />
            <img src="assets/home/Instagram.png" />
          </div>
        </div>
      </div>
      <div class="col-4 col-md-2 mb-4">
        <p class="footer-text">Links</p>
        <div class="footer-links">
          <ul>
            <li>About Us</li>
            <li>Home</li>
            <li>Recipe</li>
            <li>Shop</li>
            <li>FAQ</li>
          </ul>
        </div>
      </div>
      <div class="col-8 col-md-3 mb-4">
        <p class="footer-text">Contact Us</p>
        <div class="footer-links">
          <ul>
            <li>Singapore Polytechnic 500 Dover Rd Singapore 139651</li>
            <li><i class="fas fa-phone pr-2"></i>+65 6565 6969</li>
            <li><i class="fas fa-envelope pr-2"></i>gymssential@support.com</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
